
line {
	padding: 10px;
}

.links line {
  stroke: #999;
  opacity: 0.6;
}


/*
.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}*/

/*You*/
.type0 {
	stroke-width: 4px;
	stroke: #333;
	opacity: 0.9;
	stroke-dasharray: 5;
}

.type0:hover {
	stroke-width: 6px;
	stroke: #333;
	opacity: 1.0;
	stroke-dasharray: 5;
}

/*Team members*/
.type1 {
	stroke-width: 2px;
	stroke: #444;
	/*stroke-dasharray: 10;*/
	opacity: 0.9;
}

.type1:hover {
	stroke-width: 4px;
	stroke: #444;
	/*stroke-dasharray: 10;*/
	opacity: 1.0;
}

/*Broad Categories*/
.type2 {
	stroke-width: 2px;
	stroke: #999;
	opacity: 0.9;
}

.type2:hover {
	stroke-width: 4px;
	stroke: #999;
	opacity: 1.0;
}

/*Finer Categories*/
.type3 {
	stroke-width: 3px;
	stroke: #27AEE3;
	opacity: 0.9;
}

.type3:hover {
	stroke-width: 5px;
	stroke: #27AEE3;
	opacity: 1.0;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}



@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}